#profile-page{
    text-align: center;

 }
 
 div{
     margin-top: 1.5rem;
 }
 
 button{
     height: 3rem;
     width: 20rem;
     border-radius: 5px;
 }
 
 input{
     border: 1px solid grey;
     border-radius: 5px;
     height: 3rem;
     width: 20rem;
 }
 

 #profile{
      margin-top: 10rem;
 
 }
 
 .label{

 }