 <app-navigation-bar></app-navigation-bar>
 <div id="profile-page" fxLayout="row wrap">
     <mat-card id="profile">
         <mat-card-title>Profile</mat-card-title>
         <div id="input">
             
             <div class="label">Username</div>
             <input #username placeholder="Username">
             <div class="label">Email</div>
             <input #email defaultValue="{{emaill}}">
             <div class="label">Age</div>
             <input #age defaultValue="" placeholder="Age">

             <div>
                 <button (click)='onContinueClick(username, email, age)' mat-flat-button color="primary">Save</button>
             </div>
         </div>
     </mat-card>
 </div>