 #friends-page{
    text-align: center;
    padding-left: -20px;

 }
 
 div{
     margin-top: 1.5rem;
 }
 
 button{
     height: 3rem;
     border-radius: 5px;
 }
 
input{
     border: 1px solid grey;
     border-radius: 5px;
     height: 3rem;
     width: 90%;
     margin-right: 1rem;
 }
 
