<app-navigation-bar></app-navigation-bar>
<mat-card id="friends">
    <div>
        <mat-card-title>Friends</mat-card-title>
        <div>Search Friends</div>
        <input #search type="text" placeholder="Search (for example: John or Michael)">
        <button mat-flat-button color="primary" (click)='searchUsers(search)'>Search</button>
    </div>
</mat-card>
<app-user *ngFor="let user of users" [userData]="user"></app-user>
