<!-- <app-navigation-bar></app-navigation-bar>
<div class='childd partTwo'>

    <div class="card-deck" class="parent">
        <div class="child" *ngFor="let finalist of finalistsCollection" class="card" style="width: 20rem;">
            <div id="container">
                <img style="margin-top: -1.5rem; height:10rem; width:100%;" class="card-img-top"
                    src='assets/images/color.png' alt="Card image cap">
                <h4 class="top-left card-title">{{finalist.name}}</h4>
                <h4 class="bottom-right card-title">{{finalist.price}}</h4>

            </div>
            <div class="card-body">

                <p style="height: 15rem;" class="card-text">{{finalist.description}}</p>

            </div>
        </div>
    </div>
</div> -->
<!-- <div class="card-deck" class="parent">
    <div class="child" *ngFor="let finalist of libraryCollection" class="card" style="width: 20rem;">
        <div id="container">
            <img style="margin-top: -1.5rem; height:10rem; width:100%;" class="card-img-top"
                src='assets/images/color.png' alt="Card image cap">
            <h4 class="top-left card-title">{{finalist.name}}</h4>
            <h4 class="bottom-right card-title">{{finalist.price}}</h4>

        </div>
        <div class="card-body">

            <p style="height: 15rem;" class="card-text">{{finalist.description}}</p>
            <button (click)='addToLibrary(finalist.name)' class="addButton" mat-flat-button color="primary">Add to Library</button>
        </div>
    </div>
</div> -->

<app-games></app-games>