.parent {
    text-align: left;
   display: grid;
   grid-gap: 20px;
   justify-content: center;
   grid-template-columns: repeat(3, calc(33.33% - 20px));
 }
 .child {
   margin: 0; 
 }
 .parentt {
   display: flex; 
 }
 @media (max-width: 568px) { 
   .parent {flex-direction: column} 
   .child:first-child {order: 1}
   .child:last-child {order: -1}
 }
 .childd {
    flex-grow: 1; 
    text-align: center;
    border: 1px solid;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  div{
    margin-top: 1.5rem;
}
  .top-left {
    position: absolute;
    top: .3rem;
    color: white;
    left: 2rem;
  }

  .bottom-right {
    color: white;
    position: absolute;
    top: 8rem;
    right: 2rem;
  }

 