.green {
    background-color: green;
}

.red {
    background-color: red;
}

.card{
width: 100%;
display: flex;
justify-content: space-between;
flex-direction: row;
}

button {
    height: 3rem;
    width: 8rem;
    border-radius: 5px;
    color: white
}