<mat-card id="friends">
  <div>
    <mat-card-title>Search Friends</mat-card-title>
    <mat-card class="card"><span>{{userData?.publicName}}</span>
      <button mat-flat-button (click)='addFriend(userData)' [ngStyle]="{
    'background-color' : toggle ? '#3F51B5' : '#FF6E40'
  }">{{text}}</button>
    </mat-card>
    <div>
      <mat-card-title>My Friends</mat-card-title>
      <mat-card class='card' *ngFor="let item of myFriends1"> <span>{{ item }}</span>
        <button mat-flat-button (click)='addFriend(userData)' [ngStyle]="{
        'background-color' : toggle ? '#3F51B5' : '#FF6E40'
      }">{{text}}</button>
      </mat-card>
    </div>
  </div>