<div id="home-page" fxLayout="row wrap">
    <mat-card id="authenticator">

        <mat-card-title>Sign In</mat-card-title>
        <div id="input">
        <mat-form-field *ngIf="isLoginState()">
            <div>Email</div>
            <input id="loginEmail" #loginEmail placeholder="Email">
            <div>Password</div>
            <input #loginPassword placeholder="Password" type="password">
            <div>
                <button mat-flat-button color="primary" (click)="onLoginClick(loginEmail, loginPassword)">Sign
                    In</button>
            </div>
        </mat-form-field>
        </div>
    </mat-card>
</div>