#home-page{
   text-align: center;
   padding-left: -20px;

}

div{
    margin-top: 1.5rem;
}

button{
    height: 3rem;
    width: 20rem;
    border-radius: 5px;
}

input{
    border: 1px solid grey;
    border-radius: 5px;
    height: 3rem;
    width: 20rem;
}

#input{
    margin-left: -10rem;
}

#authenticator{
     margin-top: 10rem;
    /*margin-left: 10rem;*/
}