<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src='assets/images/Vector.png'></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="games/{{l}}">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="library/{{l}}">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="friends/{{l}}">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile/{{l}}">Profile</a>
        </li>
      </ul>
    </div>
  </nav>