<app-navigation-bar></app-navigation-bar>
<div>
    <mat-card id="games">
        <mat-card-title>Games</mat-card-title>

        <div >Search Games</div>
        <input id='search' #search type="text" placeholder="Search">
        <button mat-flat-button color="primary" (click)='searchUsers(search)'>Search</button>
        <div>


            <div class="parentt">


                <div class='childd partTwo'>

                    <div class="card-deck" class="parent">
                        <div class="child" *ngFor="let finalist of filteredCollection" class="card"
                            style="width: 20rem;">
                            <div id="container">
                                <img style="margin-top: -1.5rem; height:10rem; width:100%;" class="card-img-top"
                                    src='assets/images/color.png' alt="Card image cap">
                                <h4 class="top-left card-title">{{finalist.name}}</h4>
                                <h4 class="bottom-right card-title">{{finalist.price}}</h4>

                            </div>
                            <div class="card-body">

                                <p style="height: 15rem;" class="card-text">{{finalist.description}}</p>
                                <button (click)='addToLibrary(finalist.name)' class="addButton" mat-flat-button
                                    color="primary">Add to Library</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="childd partOne">
                    <div>Filter by age</div>
                    <div> 0 <input step=100 id="slider" (click)="onSliderChange()" type="range" min="0" max="400"> 400

                        <div>Filter by tag</div>
                        <div style=" display: flex; flex-direction: column;">
                            <mat-checkbox type="checkbox" (click)="filterData('Indie')">Indie</mat-checkbox>
                            <mat-checkbox type="checkbox" (click)="filterData('Action')">Action</mat-checkbox>
                            <mat-checkbox type="checkbox" (click)="filterData('Adventure')">Adventure</mat-checkbox>
                            <mat-checkbox type="checkbox" (click)="filterData()">Show All</mat-checkbox>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </mat-card>


</div>
<mat-card-title>My Games</mat-card-title>
    <div class="card-deck" class="parent">
        <div class="child" *ngFor="let finalist of libraryCollection" class="card" style="width: 20rem;">
            <div id="container">
                <img style="margin-top: -1.5rem; height:10rem; width:100%;" class="card-img-top"
                    src='assets/images/color.png' alt="Card image cap">
                <h4 class="top-left card-title">{{finalist.name}}</h4>
                <h4 class="bottom-right card-title">{{finalist.price}}</h4>

            </div>
            <div class="card-body">

                <p style="height: 15rem;" class="card-text">{{finalist.description}}</p>
                <button (click)='addToLibrary(finalist.name)' class="addButton" mat-flat-button color="primary">Add to
                    Library</button>
            </div>
        </div>
    </div>